<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        
    <supportedRuntime version="v2.0.50727"/></startup>
  <connectionStrings>
    <add name="dbconnection" connectionString="Server=app01;database=AxiomDev;User ID=AxiomTest;Password=AxiomDev123"/>
  </connectionStrings>
  <appSettings>
    <add key ="InboundFilesPath" value="\\192.168.2.15\C$\EDI\Backup of inbox\"/>
    <add key ="InboundFilesPath830" value="\\\\localhost\\c$\\dev\\830\\"/>
    <add key="dbconnection" value="Server=app01;database=AxiomDev;User ID=AxiomTest;Password=AxiomDev123"/>
  </appSettings>
</configuration>
